.header {
	background-color: var(--lighter-dark-purple);
	width: 100%;
	height: 70px;
	display: block;
	/* margin-top: -20px; */
	z-index: 10;
}

.header-links {
	float: right;
	padding-right: 30px;
	font-weight: 200;
	font-size: 1.5rem;
	margin-top: -10px;
}

.header-element {
	margin-left: 20px;
	cursor: pointer;
	transition-duration: 0.2s;
}

.header-element:hover {
	color: var(--true-purple);
	/* text-decoration: underline;
	text-underline-offset: 10px; */
}

.header-mobile {
	display: none;
}

@media screen and (max-width: 950px) {
	.header-links {
		display: none;
	}

	.header-mobile {
		display: block;
		position: absolute;
		top: 0px;
		z-index: 100;
		/* background-color: red; */
		width: 100%;
	}

	.logo-title-mobile {
		display: block;
		position: absolute;
		top: 20px;
		left: 20px;
		z-index: 100;
		width: 2.5rem;
	}

	.hamburger-icon {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 100;
		width: 2.5rem;
		cursor: pointer;
		font-size: 2rem;
	}

	.header-mobile-title {
		display: block;
		position: absolute;
		top: 20px;
		width: 100%;
		text-align: center;
		font-size: 1.5rem;
		font-weight: bold;
	}
}
